<main class="home">
  <ul class="planets">
    <li class="planet gemini">
      <!-- no animation -->
    </li>

    <li class="planet scorpio">
      <!-- no animation -->
    </li>

    <li class="planet moon">
      <div class="shine fader"></div>
    </li>

    <li class="planet cancer">
      <div class="shine fader"></div>
      <div class="shine outer"></div>
      <div class="shine inner"></div>
    </li>
  </ul>

  <h1>Hexa Space</h1>
  <h2><%=t "home.about" %></h2>

  <section class="auth">
    <h3><%=t "home.start" %></h3>
    <%= link_to "", ENV["FACEBOOK_GAME_URL"], class: "facebook" %>
  </section>
</main>
